.git
.github
.env
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/*
!storage/app/public
ccm_db*
database/*.sqlite
tests
